<div class="loader align-center" *ngIf="!promotionDetails">
  <div class="spinner"></div>
  <div>{{ 'Loading...' }}</div>
</div>

<div id="promotionsDetailPage" class="c-panel promo-detail" *ngIf="promotionDetails">

    <div class="c-panel__header">
        <div class="c-panel__title">
          <span>{{ 'Promotions' }}</span>
        </div>
        <div class="c-panel__utils">
          <div class="return-link">
            <i class="icon  icon-left-open"></i>
            <a href="javascript:void();" (click)="goBack()">{{ 'Back' }}</a>
          </div>
        </div>
    </div>
    <div class="c-panel__body" autoheight>
      <div id="scrollable" class="c-panel__body__wrapper" autoheight>

        <div *ngFor="let detail of promotionDetails">
            <div class="promo__title">
            <h3>{{ detail.title }}</h3>
                <span>{{ detail.subtitle }}</span>
            </div>
            <div class="promo__body" [innerHTML]="detail.body"></div>
        </div>

    </div>
  </div>
</div>
