

/*.promo-detail .c-panel__body__wrapper {
    position: relative;       
}
.promo-detail [class^="col-md-"] {
    float: left;
}
.promo-detail .col-md-8 {
    width: 60%;
    padding-right: 20px;
}

.promo-detail .col-md-4 {
    width: 40%;
}

.promo__title {
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 2rem;
    background: rgba(0,0,0, .8);
}
*/
