<div class="loader align-center" *ngIf="!bankAdd">
    <div class="spinner"></div>
    <div>{{ 'Loading...' }}</div>
</div>

<div *ngIf="success" class="c-alert hidden">
    <div *ngIf="valid" class="c-alert__wrapper align-center">
        <h4  class="c-alert__title">
        <i class="icon icon-info-circled"></i> {{ 'BANKACCOUNTS.Success' | translate }}
        </h4>
        <p class="c-alert__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nam nemo, quisquam praesentium adipisci, quia ratione sunt! Placeat earum eius impedit nulla recusandae maxime deleniti. Possimus ab rem doloremque praesentium!</p>
    </div>
</div>

<div class="grid c-article" *ngIf="bankAdd">
    <div class="row">
        <div class="col col--xs-12">

            <div class="c-article__header">
              <h2 class="c-article__title">{{ 'BANKACCOUNTS.AddBankAccount' | translate }}</h2>
              <p class="c-article__desc">{{ 'BANKACCOUNTS.AddNewBankAccountDetails' | translate }}</p>
            </div>

            <div *ngIf="success && !valid " class="c-alert c-alert--inline hidden" style="display: block">
                <div *ngFor="let error of dataError">
                    <i class="icon icon-info-circled"></i> {{ error.Description }}
                </div>
            </div>

            <form name="bankAdd" autocomplete="off" novalidate #BankAddForm="ngForm" class="c-form">
                <div class="c-form__group">
                    <label class="c-form__label invisible">{{ 'BANKACCOUNTS.AccountName' | translate }}</label>
                    <input type="text" class="c-form__input" id="accountName"
                          required disabled
                          name="accountName" [(ngModel)]="bankAdd.BankAccountName"
                          placeholder="{{ 'BANKACCOUNTS.AccountName' | translate }}" #accountName="ngModel">
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible">{{ 'BANKACCOUNTS.AccountNumber' | translate }}</label>
                    <input type="text" class="c-form__input" id="addAccountNumber"
                          required
                          name="addAccountNumber" [(ngModel)]="bankAdd.AccountNumber" [value]=" bankAdd.AccountNumber "
                          placeholder="{{ 'BANKACCOUNTS.AccountNumber' | translate }}" #addAccountNumber="ngModel">
                    <div [hidden]="addAccountNumber.valid" *ngIf="submitted" class="alert alert-danger">
                        {{ 'BANKACCOUNTS.ErrorAccountNumber' | translate }}
                    </div>
                </div>
                <div class="c-form__group">
                    <label class="c-form__label invisible" for="preferredBanks">{{ 'BANKACCOUNTS.PreferredBanks' | translate }}</label>
                    <div class="c-form__select__wrapper">
                        <div [hidden]="preferredBanks.dirty" class="c-form__label c-form__label--hack">
                            {{ 'BANKACCOUNTS.PreferredBanks' | translate }}
                        </div>
                        <select class="c-form__input c-form__select" id="preferredBanks"
                                #preferredBanks="ngModel" name="preferredBanks"
                                [(ngModel)]="bankAdd.BankId">
                            <option disabled selected="selected" value="0">{{ 'BANKACCOUNTS.ChooseYourBank' | translate }}</option>
                            <option *ngFor="let quickDepositPreferredBank of quickDepositPreferredBanks"
                                    [ngValue]="quickDepositPreferredBank.Id">
                                {{ quickDepositPreferredBank.BankName }}
                            </option>
                        </select>
                        <div [hidden]="preferredBanks.valid" *ngIf="submitted" class="alert alert-danger">
                            {{ 'BANKACCOUNTS.ErrorPreferredBanks' | translate }}
                        </div>
                    </div>
                </div>

              <div class="c-form__group">
                <label class="c-form__label invisible">{{ 'BANKACCOUNTS.BranchName' | translate }}</label>
                <input type="text" class="c-form__input" id="addBranchName"
                      required
                      name="addBranchName" [(ngModel)]="bankAdd.BranchName" [value]=" bankAdd.BranchName "
                      placeholder="{{ 'BANKACCOUNTS.BranchName' | translate }}" #addBranchName="ngModel">
                  <div [hidden]="addBranchName.valid" *ngIf="submitted" class="alert alert-danger">
                      {{ 'BANKACCOUNTS.ErrorBranchName' | translate }}
                  </div>
              </div>

              <div class="c-form__group">
                <label class="c-form__label invisible">{{ 'BANKACCOUNTS.City' | translate }}</label>
                <input type="text" class="c-form__input" id="addCity"
                      required
                      name="addCity" [(ngModel)]="bankAdd.City" [value]=" bankAdd.City "
                      placeholder="{{ 'BANKACCOUNTS.City' | translate }}" #addCity="ngModel">
                  <div [hidden]="addCity.valid" *ngIf="submitted" class="alert alert-danger">
                      {{ 'BANKACCOUNTS.ErrorCity' | translate }}
                  </div>
              </div>

              <div class="c-form__group">
                <label class="c-form__label invisible">{{ 'BANKACCOUNTS.Province' | translate }}</label>
                <input type="text" class="c-form__input" id="addProvince"
                      required
                      name="addProvince" [(ngModel)]="bankAdd.Province" [value]=" bankAdd.Province "
                      placeholder="{{ 'BANKACCOUNTS.Province' | translate }}" #addProvince="ngModel">
                  <div [hidden]="addProvince.valid" *ngIf="submitted" class="alert alert-danger">
                      {{ 'BANKACCOUNTS.ErrorProvince' | translate }}
                  </div>
              </div>

              <div class="c-form__group">
                <button class="o-button" (click)="goBack()">{{ 'BANKACCOUNTS.Cancel' | translate }}</button>
                <button type="submit" (click)="create(bankAdd)" class="o-button o-button--action">
                    <span *ngIf="!submitting">{{ 'BANKACCOUNTS.Add' | translate }}</span>
                    <span *ngIf="submitting" class="spinner-bar"></span>
                </button>
              </div>

            </form>

        </div>
    </div>
</div>