//  NAV ================
.l-sidebar {
    grid-area: sidebar;
    position: relative;
    z-index: 99;
}

.l-sidebar__nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}
.l-sidebar__content {
    position: absolute;
    top: 0;
    left: 0; //-750px;
    width: 700px;
    background: lighten($black, 2%);
    bottom: 0;
    margin: 0;
    margin-left: 50px;
    padding: 20px 50px;
    transition: all .3s ease;
    &.is-active {
        left: 0;
        width: 700px;
    }
}

.c-nav {    
    width: 50px;
    height: 100%;
    background: #2a2427;
    // background: rgba($gray-dark, .4);
    box-shadow: 1px 0 10px 5px rgba(0,0,0, .15);
    transition: all .3s ease;
    &.is-toggled-open {
        width: 350px;
        background: $gray-dark;
    }
}

// NAV LIST ================
.c-nav__list {
    list-style: none;
    padding: 20px 0;
    li {
        display: block;
        margin: 1px 0;        
        color: #6b6b6b;
        transition: all .3s ease;
        &:hover {            
            > a {
                color: $white;                
            }
        }
    }
    a {
        display: block;
        width: 100%;
        padding: 8px 12px;
        border: none;
        @include font-size(18px);
        text-decoration: none;
        white-space: nowrap;
        color: #6b6b6b;
        transition: all .3s ease;
    }
    span {
        margin-left: 10px;
    }
    .is-toggled-close & { // default state
        > li {
            &:hover,
            &.is-current {
                color: $white;
                > * {
                    color: $white;
                }
            }
        }
        span {
            visibility: hidden;
            font-size: 0;
        }
        .o-divider {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .is-toggled-open & {
        li {
            border-left: 3px solid transparent;
        }
        a {                       
            padding-left: 30px;
            padding-right: 30px;  
        }
        .o-divider {
            margin-right: 30px;
            margin-left: 30px;
        }
    }    
}

.c-nav__item { // li
    > a {        
        font-family: $highlight-font-bold;
        text-transform: uppercase;
    }
    .is-toggled-close & {
        &:hover {
            > a {
                display: inline-block;
                position: relative;   
                width: auto;
                padding-right: 40px;
                background: $gray-dark;
                span {
                    visibility: visible;
                    font-size: inherit;
                    @include font-size(16px);
                }
            }
        }
        &.is-current {
            background: darken($gray-dark, 3%);
            &:before {
                content: '';
                position: absolute;                
                top: 50%; left: 100%;
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-left-color: #141718;
                transform: translate(0,-50%);
            }
        }
        &.has-submenu {
            &:hover {
                > a {
                    &:before {
                        content: '\f105';
                        width: 10px;
                        height: 25px;
                        font-family: $icon-font;
                        position: absolute;
                        top: 0; bottom: 0;
                        right: 10px;
                        margin: auto 0;                    
                    }
                }
            }
        }
    }
    .is-toggled-open & {
        &:hover,
        &.is-current {
            background: darken($gray-dark, 3%);
            border-left-color: darken($orange, 20%);
            > * {
                color: $white;
            }
        }
    }
}

// Sub Nav
.c-nav__list--sub {
    // display: none;
    margin-left: -3px;
    padding: 0;
    visibility: hidden;
    height: 0;
    font-size: 0;
    opacity: 0;
    transition: height .3s linear, visibility 0s linear, opacity .3s linear;
    .is-active & {
        // display: block;
        visibility: visible;
        height: auto;
        font-size: inherit;
        opacity: 1;
        transition-delay: 0;
    }
    .is-toggled-close & {
        display: none;
    }
    .is-toggled-open & {
        > li {            
            a {
                padding-left: 60px;
                @include font-size(14px);
            }
            &:hover,
            &.is-active,
            &.is-current {
                background: darken($gray-dark, 4.5%);
                border-left-color: $orange;
            }
            
        }        
    }
}


// Mobile Menu toggler ================
.menu-sub-toggler {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 99;
    width: 45px;
    height: 35px;
    background: transparent;
    text-align: center;
    i {
        display: inline-block;
        vertical-align: middle;
        line-height: 35px;
    }
    .is-active > & {
        i {
            transform: rotate(180deg);
        }
    }
    .is-toggled-open & {
        display: block;
    }
}