<div id="{{modalId}}" class="c-modal">
    <div class="c-modal__wrapper">

        <button type="button" class="c-modal__close" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>

        <form name="resetPassword" autocomplete="off" novalidate (ngSubmit)="onSubmit()" #ResetPasswordForm="ngForm"
              class="c-form">
            <div class="c-modal__body">
                <div class="c-modal__title align-center">
                    <h3>Quick Security Check</h3>
                    <p>Please provide necessary information to continue.</p>
                </div>
                <div *ngIf="successMessage && valid" class="c-alert c-alert--inline hidden" style="display: block">
                        <i class="icon icon-info-circled"></i> Successful resending code
                </div>

                <div *ngIf="successPasswd && !valid" class="c-alert c-alert--inline hidden" style="display: block">
                   <div *ngFor="let error of dataError.Errors">
                       <i class="icon icon-info-circled"></i>{{ error.Description }}
                   </div>
                    <!--{{ dataError | json}}-->
                </div>

                <div class="c-form__group">
                    <label for="ResetCode" class="c-form__label invisible">Send Code</label>
                    <div class="row">
                        <div class="col col--xs-7">
                            <input type="text" class="c-form__input" id="resetCode"
                                   [(ngModel)]="resetPassword.ResetCode"
                                   name="resetCode" placeholder="Reset Code"
                                   #resetCode="ngModel" minlength="6" maxlength="6">
                        </div>
                        <div class="col col--xs-5">
                            <button type="button" (click)="sendResetCode(forgotPassword)"
                                    class="o-button o-button--action o-button--med">
                                <span *ngIf="!submittingResend">Resend Code</span>
                                <span *ngIf="submittingResend" class="spinner-bar"></span>
                            </button>
                        </div>
                        <!--<div [hidden]="resetCode.valid" *ngIf="submitted" class="alert alert-danger">-->
                            <!--Reset Code is required-->
                        <!--</div>-->

                    </div>
                </div>
                <div class="c-form__group">
                    <label for="Password" class="c-form__label invisible">Password</label>
                    <input type="password" class="c-form__input" id="password"
                           required [(ngModel)]="resetPassword.Password"
                           #password="ngModel"
                           name="password" placeholder="Password" minlength="6" maxlength="30">
                    <div [hidden]="password.valid" *ngIf="submitted" class="alert alert-danger">
                        Password is required
                    </div>
                    <!--<div [hidden]="!password.errors.minlength" *ngIf="submitted">-->
                        <!--Name must be at least 6 characters long.-->
                    <!--</div>-->
                </div>
                <div class="c-form__group">
                    <label for="ConfirmPassword" class="c-form__label invisible">Confirm Password</label>
                    <input type="password" class="c-form__input" id="confirmPassword" required
                           [(ngModel)]="resetPassword.ConfirmPassword" name="confirmPassword"
                           placeholder="Confirm Password" #confirmPassword="ngModel" minlength="6" maxlength="30">
                    <div [hidden]="confirmPassword.valid" *ngIf="submitted" class="alert alert-danger">
                        Confirm Password is required
                    </div>
                    <!--<div [hidden]="!confirmPassword.errors.minlength" *ngIf="submitted">-->
                        <!--Name must be at least 6 characters long.-->
                    <!--</div>-->
                    <div *ngIf="submitted">
                        <span *ngIf="resetPassword.Password != resetPassword.ConfirmPassword"
                              class="alert alert-danger">
                        Password did not match
                    </span>
                    </div>
                </div>
            </div>
            <div class="c-modal__footer">
                <button (click)="onSubmit(resetPassword)" type="submit"
                        [disabled]="ResetPasswordForm.invalid" class="c-form__submit o-button o-button--action">
                    <span *ngIf="!submitting"> Submit </span>
                    <span *ngIf="submitting" class="spinner-bar"></span>
                </button>
            </div>
        </form>

    </div>
</div>