<div class="loader align-center" *ngIf="!sports">
    <div class="spinner"></div>
    <div>{{ 'Loading...' }}</div>
</div>

<div class="g-grid g-gap g-rowrepeat-2s" *ngIf="sports">
    <div class="g-row g-row-first-half">

        <div class="c-panel">
            <div class="c-panel__header">
                <div class="c-panel__title"><span>{{ 'SPORTSBOOK.Sports' | translate }}</span></div>
                <!--<div class="c-panel__utils">
                    <div class="o-search">
                        <div class="o-search__wrapper">
                            <i class="icon icon-search float-right"></i>
                            <input type="text" [(ngModel)]="filter.title" placeholder="Search">
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="c-panel__body">
                <div class="c-panel__body__wrapper">
                    <ul class="c-panel__list c-list row">
                        <li *ngFor="let sport of sports" class="col col--md-3 col--lg-2">

                            <div class="c-block c-block--sports" [ngStyle]="{'background-image': 'url(' + sport.thumb_image.src + ')'}">
                                <div class="c-block__body">
                                    <div class="c-block__title">
                                        {{sport.title}}
                                    </div>
                                    <a (click)="loadiframe(sport.langcode, sport.game_platform_code, sport.game_code)"
                                      class="o-button o-button--action  o-button--med">{{ 'SPORTSBOOK.BetNow' | translate }}</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
