// ARTICLE

.c-article {
    color: $gray;
    margin: 0 auto; 
    padding: 2rem 4rem;
}
.c-article__header {
    margin-bottom: 2rem;
}
.c-article__title {
    margin: 0;
    font-family: $highlight-font-bold;
    @include font-size(28px);
    font-weight: normal;
    text-transform: uppercase;
    color: $white;
}

.c-article__desc {
    @include font-size(14px);
    color: $gray-med;
}
