.c-newstream {
    height: 100%;
    width: 80%;
    overflow: hidden;
    position: relative;
    div {
        display: block;
        width: 100%;
        // height: 30px;
        position: absolute;
        overflow: hidden;
    }
    span {
        display: inline-block;
        margin: 0 2em;
    }
}

.c-newstream__wrapper {
    animation: marquee 30s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes marquee {
  0% { left: 100%; }
  100% { left: -100%; }
}