// TABLE

.c-table {
    margin: 2rem 0;
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: .5rem 1rem;
        @include font-size(11px);
        text-align: center;
        color: $gray-med;
    }
    thead {
        tr {
            background: $black;
        }
        th {
            text-transform: uppercase;
            color: $gray-light;
        }
    }
    tbody {
        tr {
            border-top: 1px solid $black;
            background: $gray-dark;
            transition: all .3s ease;
            &:hover {
                background: lighten($gray-dark, 2%);
            }
        }
    }
}

.c-table__action {
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        color: $white;
    }
}