<section *ngIf="errorMessage">
            <pre>
                 {{ errorMessage }}
            </pre>

</section>

<div class="container">
    <h1>Country Form </h1>
    <form name="Countries" #CountriesForm="ngForm">
        <section *ngIf="countries">

            <div class="form-group">
                <label for="Country">Country</label>
                <select name="state" ngModel>
                    <option value="" disabled>Choose your Country</option>
                    <option *ngFor="let country of countries" [ngValue]="country.CountryCode">
                        {{ country.CountryName }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="Mobile Country Code">Mobile Country Code</label>
                <select name="countryCode" ngModel>
                    <option value="" disabled>Choose your Mobile Country Code </option>
                    <option *ngFor="let country of countries" [ngValue]="country.CountryCode" >
                        {{ country.CountryCallCode}}
                    </option>

                </select>
            </div>

        </section>
    </form>
</div>