
    <div class="o-logo">
        <a routerLink="/home" title="{{ 'HEADER.Home' | translate }}">
            <img src="assets/images/logo-en.png" alt="logo">
        </a>
    </div>

    <div class="c-utilities">
        <div class="c-overview-user">
            <div class="c-overview-name">
                <i class="icon icon-user"></i>
                <a [routerLink]="['/profile']"><span>{{userDetails.username}}</span></a>
            </div>
            <div class="o-divider o-divider--vertical">&nbsp;</div>
            <div class="c-overview-balance">
                <i class="icon icon-database"></i>
                <span *ngIf="!balance">{{ currentBal | number : '1.2-2' }}</span>
                <span *ngIf="balance">{{ balance | number : '1.2-2' }}</span>
            </div>
        </div>
        <div class="c-date">
            {{dateShow}}
        </div>
        <div class="o-divider o-divider--vertical">&nbsp;</div>
        <div class="c-controls">
            <button (click)="logout()">
                <i class="icon icon-logout"></i>
                <span>{{ 'HEADER.Logout' | translate }}</span>
            </button>
            <div>
                <div class="o-dropselect align-center" [ngClass]="!showWindowOptns ? 'is-close' : 'is-open'">
                    <button class="o-dropselect__toggler" (click)="toggleWindowOptns()">
                        <i class="icon icon-ellipsis-vert"></i>
                        <span>{{ 'HEADER.More' | translate }}</span>
                    </button>
                    <ul class="o-dropselect__options">
                        <li id="minWwindow"><i class="icon icon-window-minimize"></i></li>
                        <li id="maxWindow"><i class="icon icon-window-maximize"></i></li>
                        <li id="closeWindow"><i class="icon icon-cancel"></i></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    