<div class="loader align-center" *ngIf="!onlineDepositBanks">
    <div class="spinner"></div>
    <div>{{ 'Loading...' }}</div>
</div>

<div *ngIf="submitted && valid" class="c-alert hidden" style="display: block">
    <div class="c-alert__wrapper align-center">
        <h4 class="c-alert__title">
            <i class="icon icon-info-circled"></i> {{ 'ONLINEDEPOSIT.ConfirmDepositAmount' | translate }}
        </h4>
        <p class="c-alert__desc uppercase" style="font-size: 1.2rem">{{ 'ONLINEDEPOSIT.DepositAmount' | translate }}: <strong>{{ onlineDeposit.Amount
            }}</strong></p>
        <div>
            <a href="{{success.url}}" (click)="resetForm()" target="_blank" class="o-button o-button--success">{{ 'ONLINEDEPOSIT.Proceed' | translate }}</a>
            <button (click)="onCancel()" class="o-button o-button--action">{{ 'ONLINEDEPOSIT.Cancel' | translate }}</button>
        </div>
    </div>
</div>

<div class="grid c-article" *ngIf="onlineDepositBanks" [ngClass]="submitted ? 'is-temporary-disabled' : ''">
    <div class="row">
        <div class="col col--xs-12">

            <div class="c-article__header">
                <h2 class="c-article__title">{{ 'ONLINEDEPOSIT.OnlineDeposit' | translate }}</h2>
                <p class="c-article__desc">{{ 'ONLINEDEPOSIT.OnlineDepositIsAnOnline' | translate }}</p>
            </div>
            <div *ngIf="success && !valid " class="c-alert c-alert--inline">
                <div *ngFor="let error of dataError">
                    <i class="icon icon-info-circled"></i> {{ error.Description }}
                </div>
            </div>

            <div class="c-alert c-alert--inline">
                <i class="icon icon-info-circled"></i>{{ 'ONLINEDEPOSIT.MinimumAndMaximumDeposit' | translate }}
            </div>

            <form name="onlineDeposit" autocomplete="off" novalidate #OnlineDepositBankForm="ngForm" class="c-form">
                <div class="c-form__group">
                    <label class="c-form__label invisible">{{ 'ONLINEDEPOSIT.OnlineDepositBank' | translate }}</label>
                    <div class="c-form__select__wrapper">
                        <div [hidden]="onlineDepositBank.dirty" class="c-form__label c-form__label--hack">
                            {{ 'ONLINEDEPOSIT.OnlineDepositBank' | translate }}
                        </div>
                        <select class="c-form__input c-form__select" id="onlineDepositBank" name="onlineDepositBank"
                                [(ngModel)]="onlineDeposit.BankId" #onlineDepositBank="ngModel"
                                required>
                            <option value="" disabled>{{ 'ONLINEDEPOSIT.ChooseYourOnlineDepositBank' | translate }}</option>
                            <option *ngFor="let onlineDepositBank of onlineDepositBanks"
                                    [ngValue]="onlineDepositBank.Id">
                                {{ 'ONLINEBANK.'+ onlineDepositBank.Id | translate }}
                            </option>
                        </select>
                    </div>
                    <div [hidden]="onlineDepositBank.valid" *ngIf="submitted" class="alert alert-danger">
                        {{ 'ONLINEDEPOSIT.ErrorOnlineDepositBank' | translate }}
                    </div>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible" for="depositAmount">{{ 'ONLINEDEPOSIT.DepositAmount' | translate }}</label>
                    <input type="text" class="c-form__input" id="depositAmount"
                           name="depositAmount"
                           required
                           [(ngModel)]="onlineDeposit.Amount"
                           name="depositAmount"
                           placeholder="{{ 'ONLINEDEPOSIT.DepositAmount' | translate }}" #depositAmount="ngModel"
                           onkeyup="this.value=this.value.replace(/[^\d]/,'')">
                    <div [hidden]="depositAmount.valid"  *ngIf="submitted" class="alert alert-danger">
                        {{ 'ONLINEDEPOSIT.ErrorOnlineDepositAmount' | translate }}

                    </div>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible">{{ 'ONLINEDEPOSIT.Bonus' | translate }}</label>
                    <input type="text" class="c-form__input" id="bonusCode"
                           [(ngModel)]="onlineDeposit.BonusCode" name="bonusCode"
                           placeholder="{{ 'ONLINEDEPOSIT.Bonus' | translate }}" #bonusCode="ngModel">
                </div>

                <div class="c-form__group">
                    <button type="submit" (click)="depositBank(onlineDeposit)" class="o-button o-button--action">
                        <span *ngIf="!submitting">{{ 'ONLINEDEPOSIT.Deposit' | translate }}</span>
                        <span *ngIf="submitting" class="spinner-bar"></span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
