<pre>
     {{ errorMessage | json}} {{successMessage | json}}
</pre>

<div class="container">
    <h1>Online Deposit Bank Form</h1>
    <form autocomplete="off" novalidate name="onlineDepositBank" #OnlineDepositBankForm="ngForm">
        <section *ngIf="onlineDepositBanks">
            <div class="form-group">
                <label for="OnlineDepositBank">OnlineDepositBank</label>
                <select name="onlineDepositBank" [(ngModel)]="onlineDepositBanks.Id">
                    <option value="" disabled>Choose your Online Deposit Bank</option>
                    <option *ngFor="let onlineDepositBank of onlineDepositBanks" [ngValue]="onlineDepositBank.Id">
                        {{ onlineDepositBank.BankNameEn }}
                    </option>
                </select>
            </div>
        </section>
    </form>
</div>
