<div class="loader align-center" *ngIf="!profile"> 
  <div class="spinner"></div>
  <div>{{ 'Loading...' }}</div>
</div>

<div *ngIf="success" class="c-alert hidden" style="display: block">
    <div *ngIf="valid" class="c-alert__wrapper align-center">
        <h4 class="c-alert__title">
        <i class="icon icon-info-circled"></i> {{ 'WITHDRAWAL.Success' | translate }}
        </h4>
        <p class="c-alert__desc">{{ 'WITHDRAWAL.Message' | translate }}</p>
    </div>
</div>

<div class="grid c-article" *ngIf="profile">
    <div class="row">
        <div class="col col--xs-12">

            <div class="c-article__header">
              <h2 class="c-article__title">{{ 'WITHDRAWAL.Withdrawal' | translate }}</h2>
              <p class="c-article__desc">{{ 'WITHDRAWAL.WeWillProcess' | translate }}</p>
            </div>

            <div *ngIf="success && !valid " class="c-alert c-alert--inline">
                <div *ngFor="let error of dataError">
                    <i class="icon icon-info-circled"></i> {{ error.Description }}
                </div>
            </div>

            <div class="row">
                <div class="col col--xs-6">
                    {{ 'WITHDRAWAL.WithdrawalBalance' | translate }}: <span style="color: #f5f5f5">{{ WithdrawalAmt | number }}</span>
                </div>
                <div class="col col--xs-6 align-right">
                            <i class="icon icon-help-circled alert-color"></i>
                    {{ 'WITHDRAWAL.LockedAmount' | translate }}: <span style="color: #f5f5f5">{{ lockedAmount | number }}</span>
                </div>
            </div>

            <hr/>

            <form name="withdraw" autocomplete="off" novalidate #WithdrawableForm="ngForm" class="c-form">
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'WITHDRAWAL.BankAccount' | translate }}</label>
                        <div class="c-form__select__wrapper">
                            <div [hidden]="playerBankAcountId.dirty" class="c-form__label c-form__label--hack">
                                {{ 'WITHDRAWAL.BankAccount' | translate }}
                            </div>
                            <select class="c-form__input c-form__select" name="playerBankAcountId" 
                                [(ngModel)]="withdraw.PlayerBankAcountId"
                                #playerBankAcountId="ngModel">
                                <option disabled>{{ 'WITHDRAWAL.SelectYourBankAccount' | translate }}</option>
                                <option *ngFor="let playerBankAccount of profile.PlayerBankAccounts"
                                        [ngValue]="playerBankAccount.Id">
                                    {{ playerBankAccount.BankAccountName }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'WITHDRAWAL.WithdrawAmount' | translate }}</label>
                        <input type="text" class="c-form__input" id="withdrawAmount"
                            required
                            [(ngModel)]="withdraw.WithdrawAmount" name="withdrawAmount"
                            placeholder="{{ 'WITHDRAWAL.WithdrawAmount' | translate }}" #withdrawAmount="ngModel">
                        <div [hidden]="withdrawAmount.valid"  *ngIf="submitted" class="alert alert-danger">
                            {{ 'WITHDRAWAL.ErrorWithdrawAmount' | translate }}
                        </div>
                    </div>

                    <div class="c-form__group">
                        <label for="Password" class="c-form__label invisible">{{ 'WITHDRAWAL.Password' | translate }}</label>
                        <input type="password" class="c-form__input" id="password"
                            required
                            [(ngModel)]="withdraw.Password" name="password"
                            placeholder="{{ 'WITHDRAWAL.Password' | translate }}" #password="ngModel"
                            minlength="6" maxlength="30">
                        <div [hidden]="withdrawAmount.valid"  *ngIf="submitted" class="alert alert-danger">
                            {{ 'WITHDRAWAL.ErrorPassword' | translate }}
                        </div>
                    </div>

                    <div class="c-form__group">
                        <button class="o-button" (click)="goBack()">{{ 'WITHDRAWAL.Cancel' | translate }}</button>
                        <button type="submit" (click)="makeWithrawal(withdraw)" class="o-button o-button--action">  
                            <span *ngIf="!submitting">{{ 'WITHDRAWAL.Withdraw' | translate }}</span>
                            <span *ngIf="submitting" class="spinner-bar"></span>
                        </button>
                    </div>

            </form>

        </div>
    </div>
</div>
