<div class="loader align-center" *ngIf="!quickDepositMethods">
    <div class="spinner"></div>
    <div>{{ 'Loading...' }}</div>
</div>

<div *ngIf="success">
    <div *ngIf="valid" class="c-alert hidden" style="display: block">
        <div class="c-alert__wrapper align-center">
            <h4 class="c-alert__title">
                <i class="icon icon-info-circled"></i> {{ 'QUICKDEPOSIT.Success' | translate }}
            </h4>
            <p class="c-alert__desc">{{ 'QUICKDEPOSIT.Successfully' | translate }}</p>
        </div>
    </div>
</div>

<div id="scrollable" class="grid c-article" *ngIf="quickDepositMethods && quickDepositPreferredBanks">
    <div class="row">
        <div class="col col--xs-12">

            <div class="c-article__header">
                <h2 class="c-article__title">{{ 'QUICKDEPOSIT.QuickDeposit' | translate }}</h2>
            </div>

            <div *ngIf="success && !valid " class="c-alert c-alert--inline">
                <div *ngFor="let error of dataError">
                    <i class="icon icon-info-circled"></i> {{ error.Description }}
                </div>
            </div>

            <div class="c-alert c-alert--inline">
                <i class="icon icon-info-circled"></i>{{ 'QUICKDEPOSIT.MinimumAndMaximumDeposit' | translate }}
            </div>

            <form name="QuickDeposit" autocomplete="off" novalidate #QuickDepositForm="ngForm" class="c-form">
                <fieldset>

                    <div role="separator" class="c-form__group c-form__divider">
                        <span>{{ 'QUICKDEPOSIT.Step1' | translate }}</span>
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.QuickDepositMethod' | translate }}</label>
                        <div class="c-form__select__wrapper">
                            <div [hidden]="quickDepositMethod.dirty" class="c-form__label c-form__label--hack">
                                {{ 'QUICKDEPOSIT.QuickDepositMethod' | translate }}
                            </div>
                            <select class="c-form__input c-form__select" id="quickDepositMethods" name="quickDepositMethod"
                                    #quickDepositMethod="ngModel"
                                    [(ngModel)]="quickDepositMethods.Id">
                                <option disabled value="0">{{ 'QUICKDEPOSIT.ChooseYourQuickDepositMethod' | translate }}</option>
                                <option *ngFor="let quickDepositMethod of quickDepositMethods"
                                        [ngValue]="quickDepositMethod.Id">
                                    {{ 'DEPOSITMETHOD.' + quickDepositMethod.Id | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.QuickDepositPreferredBanks' | translate }}</label>
                        <div class="c-form__select__wrapper">
                            <div [hidden]="quickDepositPreferredBank.dirty" class="c-form__label c-form__label--hack">
                                {{ 'QUICKDEPOSIT.QuickDepositPreferredBanks' | translate }}
                            </div>
                            <select class="c-form__input c-form__select" id="quickDepositPreferredBanks" name="quickDepositPreferredBank"
                                    #quickDepositPreferredBank="ngModel"
                                    [(ngModel)]="quickDepositPreferredBanks.Id"
                                    (change)="getBankAccount(quickDepositMethods.Id,quickDepositPreferredBanks.Id)">
                                <option  disabled value="0">{{ 'QUICKDEPOSIT.ChooseYourBank' | translate }}</option>
                                <option *ngFor="let quickDepositPreferredBank of quickDepositPreferredBanks"
                                        [ngValue]="quickDepositPreferredBank.Id">
                                    {{ 'PREFERREDBANK.' +quickDepositPreferredBank.Id | translate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset *ngIf="bankAccounts">

                    <div role="separator" class="c-form__group c-form__divider">
                        <span>{{ 'QUICKDEPOSIT.Step2' | translate }}</span>
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.PlayerDepositAmount' | translate }}</label>
                        <input type="text" class="c-form__input" id="playersDepositAmount"
                               required
                               [(ngModel)]="udaId.DepositAmount"
                               name="playersDepositAmount"
                               placeholder="{{ 'QUICKDEPOSIT.PlayerDepositAmount' | translate }}" #playersDepositAmount="ngModel"
                               #fieldsedepositAmount
                               (keyup)="getUdaId(udaId)"
                               (blur)="getUdaId(udaId)">
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.BankName' | translate }}</label>
                        <input type="text" class="c-form__input" id="bankName"
                               name="bankName" disabled
                               placeholder="{{ 'QUICKDEPOSIT.BankName' | translate }}"
                               [(ngModel)]="bankAccounts.BankAccountName">
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.AccountName' | translate }}</label>
                        <input type="text" class="c-form__input" id="accountName"
                               name="accountName" disabled
                               placeholder="{{ 'QUICKDEPOSIT.AccountName' | translate }}"
                               [(ngModel)]="bankAccounts.AccountName">
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.AccountNumber' | translate }}</label>
                        <input type="text" class="c-form__input" id="accountNumber"
                               name="accountNumber" disabled
                               placeholder="{{ 'QUICKDEPOSIT.AccountNumber' | translate }}"
                               [(ngModel)]="bankAccounts.AccountNo">
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.BonusCode' | translate }}</label>
                        <input type="text" class="c-form__input" id="bonusCode"
                               [(ngModel)]="quickDeposits.BonusCode" name="bonusCode"
                               placeholder="{{ 'QUICKDEPOSIT.BonusCode' | translate }}" #bonusCode="ngModel">
                    </div>

                </fieldset>

                <fieldset *ngIf="udaIds">

                    <div role="separator" class="c-form__group c-form__divider">
                        <span>{{ 'QUICKDEPOSIT.Step3' | translate }}</span>
                    </div>

                    <div class="c-form__group">
                        <label class="c-form__label invisible">{{ 'QUICKDEPOSIT.PleaseDepositThisAmount' | translate }}</label>
                        <input type="text" class="c-form__input" id="pleaseDepositThisAmount"
                               name="pleaseDepositThisAmount" disabled
                               placeholder="{{ 'QUICKDEPOSIT.PleaseDepositThisAmount' | translate }}"
                               [(ngModel)]="udaIds.GeneratedUDA">

                        <p>{{ 'QUICKDEPOSIT.PleaseUseDeposit' | translate }}</p>
                    </div>
                    <div class="c-form__group">
                        <button type="submit" (click)="quickDeposit(quickDeposits,udaIds.Id)"
                                class="o-button o-button--action"
                                [disabled]="!QuickDepositForm.form.valid">                            
                            <span *ngIf="!submitting">{{ 'QUICKDEPOSIT.Deposit' | translate }}</span>
                            <span *ngIf="submitting" class="spinner-bar"></span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
