<div id="login" class="c-access c-login center-absolute">

    <div class="o-logo">
        <a href="/" title="Orange88">
            <img src="assets/images/logo-en.png" alt="logo">
        </a>
    </div>

    <div *ngIf="!submitted && !valid " >
        <div *ngFor="let error of dataError" class="c-alert c-alert--inline">
            <i class="icon icon-info-circled"></i> {{ error.Description }}
        </div>
    </div>

    <form class="c-form" autocomplete="off" novalidate name="login" #LoginForm="ngForm">
        <div class="c-form__group">
            <label class="c-form__label invisible" for="Username">>
                <span>{{ 'LOGIN.Username' | translate }}</span>
            </label>
            <input type="text" class="c-form__input c-login__user" name="username" value="" placeholder=" {{ 'LOGIN.Username' | translate }}" id="username"
                    required
                    [(ngModel)]="login.UserName"
                    #username="ngModel"
                   minlength="5" maxlength="30">
            <div [hidden]="username.valid" *ngIf="submitted" class="alert alert-danger">
                {{ 'LOGIN.ErrorUsername' | translate }}
            </div>
        </div>
        <div class="c-form__group">
            <label for="password" class="c-form__label invisible">
                <span>{{ 'LOGIN.Password' | translate }}</span>
            </label>
            <input type="password" class="c-form__input c-login__password" name="password" value="" placeholder="{{ 'LOGIN.Password' | translate }}" id="password"
                    required
                    [(ngModel)]="login.Password"
                    #password="ngModel"
                    minlength="6" maxlength="30">
            <div [hidden]="password.valid" *ngIf="submitted"
                 class="alert alert-danger">
                {{ 'LOGIN.ErrorPassword' | translate }}
            </div>
        </div>
        <div class="c-form__group padding-horizontal">
            <div class="c-form__control c-form__control--checkbox">
                <label class="c-form__label">
                    {{ 'LOGIN.RememberUsername' | translate }}
                    <input type="checkbox" name="rememberme" [(ngModel)]="login.RememberMe">
                    <div class="c-form__control-pseudo"></div>
                </label>
            </div>
            <a (click)="openModalForgotPassword()" title="Forgot Password" class="float-right">{{ 'LOGIN.ForgotPassword' | translate }}</a>
        </div>
        <div class="c-form__group">
            <button type="submit" class="c-form__submit o-button o-button--action o-button--full" (click)="loginUser(login)" [disabled]="LoginForm.invalid">
                <span *ngIf="!submitting">{{ 'LOGIN.Submit' | translate }}</span>
                <span *ngIf="submitting" class="spinner-bar"></span>
            </button>
        </div>
    </form>

    <div class="c-access__cta align-center">
        <a (click)="openModalRegistration()">{{ 'LOGIN.NewUser' | translate }} <span>{{ 'LOGIN.SignUp' | translate }}</span></a>
    </div>

    <div language-selector></div>

</div>
