<div class="loader align-center" *ngIf="!wechat">
    <div class="spinner"></div>
    <div>{{ 'Loading...' }}</div>
</div>

<div *ngIf="success">
    <div *ngIf="submitted && valid" class="c-alert hidden" style="display: block">
        <div class="c-alert__wrapper align-center">
            <h4 class="c-alert__title">
                <i class="icon icon-info-circled"></i> {{ 'WECHATDEPOSIT.ConfirmDepositAmount' | translate }}
            </h4>
            <p class="c-alert__desc uppercase" style="font-size: 1.2rem">{{ 'WECHATDEPOSIT.DepositAmount' | translate }}: <strong>{{ wechat.Amount }}</strong></p>
            <div>
                <a href="{{success.Url}}" (click)="resetForm()" target="_blank" class="o-button o-button--success">{{ 'WECHATDEPOSIT.Proceed' | translate }}</a>
                <button (click)="onCancel()" class="o-button o-button--action">{{ 'WECHATDEPOSIT.Cancel' | translate }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="!success.Url || error " class="c-alert hidden" style="display: block">
        <div class="c-alert__wrapper align-center">
            <h4 class="c-alert__title">
                <i class="icon icon-info-circled"></i>  {{ 'WECHATDEPOSIT.BankIsNotAvailable' | translate }}
            </h4>
        </div>
    </div>
</div>

<div class="grid c-article" *ngIf="wechat">
    <div class="row">
        <div class="col col--xs-12">

            <div class="c-article__header">
              <h2 class="c-article__title">{{ 'WECHATDEPOSIT.WechatDeposit' | translate }}</h2>
            </div>

            <div class="c-alert c-alert--inline">
                <i class="icon icon-info-circled"></i>{{ 'WECHATDEPOSIT.MinimumAndMaximumDeposit' | translate }}
            </div>

            <form name="wechat"  autocomplete="off" novalidate #WechatForm="ngForm" class="c-form">
                <div class="c-form__group">
                    <label class="c-form__label invisible" for="depositAmount">{{ 'WECHATDEPOSIT.DepositAmount' | translate }}</label>
                    <input type="text" class="c-form__input" id="depositAmount"
                        name="depositAmount"
                        required
                        [(ngModel)]="wechat.Amount"
                           name="depositAmount"
                        placeholder="{{ 'WECHATDEPOSIT.DepositAmount' | translate }}" #depositAmount="ngModel"
                           onkeyup="this.value=this.value.replace(/[^\d]/,'')">

                    <div *ngIf="submitted" class="alert alert-danger">
                        {{ 'WECHATDEPOSIT.ErrorDepositAmount' | translate }}
                    </div>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible" for="bonusCode">{{ 'WECHATDEPOSIT.BonusCode' | translate }}</label>
                    <input type="text" class="c-form__input" id="bonusCode"
                        [(ngModel)]="wechat.BonusCode" name="bonusCode"
                        placeholder="{{ 'WECHATDEPOSIT.BonusCode' | translate }}" #bonusCode="ngModel">
                </div>

                <div class="c-form__group">
                    <button type="submit" (click)="weChatPayment(wechat)" class="o-button o-button--action">       
                        <span *ngIf="!submitting">{{ 'WECHATDEPOSIT.Deposit' | translate }}</span>
                        <span *ngIf="submitting" class="spinner-bar"></span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>


