<div id="TransactionsPage" class="grid c-article">
  <div class="row">
    <div class="col col--xs-12">
      <div class="c-article__header">

        <div *ngIf="success && !valid">
          <div class="c-alert__wrapper align-center" *ngFor="let error of dataError.Errors">
            <h4 class="c-alert__title">
              <i class="icon icon-info-circled"></i> {{ error.Description }}
            </h4>
          </div>
        </div>

        <div *ngIf="success && valid">
          <div class="c-alert__wrapper align-center" >
            <h4 class="c-alert__title">
              <i class="icon icon-info-circled"></i> {{ 'PASSWORD.Success' | translate }}
            </h4>
            <p>{{ 'PASSWORD.SuccessInfo' | translate }}</p>
          </div>
        </div>

        <div *ngIf="error && valid">
          <div class="c-alert__wrapper align-center">
            <h4 class="c-alert__title">
              <i class="icon icon-info-circled"></i> {{ 'PASSWORD.Invalid' | translate }}
            </h4>
            <p> {{ 'PASSWORD.DoNotMatch' | translate }}</p>
          </div>
        </div>

        <h2 class="c-article__title">{{'PASSWORD.Header' | translate }}</h2>
        <p class="c-article__desc">{{'PASSWORD.Info' | translate }}</p>
      </div>

      <form class="c-form" autocomplete="off" novalidate name="ChangePasswordForm" #ChangePasswordForm="ngForm">

        <div class="c-form__group">
          <label class="c-form__label invisible" for="oldPassword">>
            <span>{{ 'PASSWORD.TypeYourOldPassword' | translate }}</span>
          </label>
          <input type="password" class="c-form__input c-login__user" name="oldPassword" value="" placeholder=" {{ 'PASSWORD.TypeYourOldPassword' | translate }}" id="oldPassword"
                 required
                 [(ngModel)]="changePassword.Password"
                 #oldPassword="ngModel"
                 minlength="6" maxlength="30">
          <div [hidden]="oldPassword.valid" *ngIf="valid" class="alert alert-danger">
            {{ 'PASSWORD.ErrorPassword' | translate }}
          </div>
        </div>

        <div class="c-form__group">
          <label class="c-form__label invisible" for="newPassword">>
            <span>{{ 'PASSWORD.TypeYourNewPassword' | translate }}</span>
          </label>
          <input type="password" class="c-form__input c-login__user" name="newPassword" value="" placeholder=" {{ 'PASSWORD.TypeYourNewPassword' | translate }}" id="newPassword"
                 required
                 [(ngModel)]="changePassword.NewPassword"
                 #newPassword="ngModel"
                 minlength="6" maxlength="30">
          <div [hidden]="newPassword.valid" *ngIf="valid" class="alert alert-danger">
            {{ 'PASSWORD.ErrorPassword' | translate }}
          </div>
        </div>

        <div class="c-form__group">
          <label class="c-form__label invisible" for="reTypePassword">>
            <span>{{ 'PASSWORD.RetypePassword' | translate }}</span>
          </label>
          <input type="password" class="c-form__input c-login__user" name="reTypePassword" value="" placeholder=" {{ 'PASSWORD.RetypePassword' | translate }}" id="reTypePassword"
                 required
                 [(ngModel)]="changePassword.ConfirmPassword"
                 #reTypePassword="ngModel"
                 minlength="6" maxlength="30">
          <div [hidden]="reTypePassword.valid" *ngIf="valid" class="alert alert-danger">
            {{ 'PASSWORD.ErrorConfirmPassword' | translate }}
          </div>
        </div>

        <div class="c-form__group">
          <button type="submit" class="c-form__submit o-button o-button--action"
                  (click)="setPasswd(changePassword)">
            <span *ngIf="!submitting">{{ 'PASSWORD.Save' | translate }}</span>
            <span *ngIf="submitting" class="spinner-bar"></span>
          </button>
        </div>

      </form>

    </div>
  </div>
</div>