<div class="loader align-center" *ngIf="!depositTransactions">
  <div class="spinner"></div>
  <div>{{ 'Loading...' }}</div>
</div>

<div id="depositTransactionsPage" class="grid c-article" *ngIf="depositTransactions">
  <div class="row">
    <div class="col col--xs-12">

      <div class="c-article__header">
        <h2 class="c-article__title">{{ 'DEPOSITTRANSACTION.DepositTransaction' | translate }}</h2>
        <p class="c-article__desc">{{ 'DEPOSITTRANSACTION.WeWillProcess' | translate }}</p>
      </div>

      <table class="c-table">
        <thead>
        <tr>
          <th>{{ 'DEPOSITTRANSACTION.DateTimeRequested' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.Method' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.TransactionNumber' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.Status' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.RequestedAmount' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.CreditedAmount' | translate }}</th>
          <th>{{ 'DEPOSITTRANSACTION.BonusAmount' | translate }}</th>
        </tr>
        </thead>
        <tbody id="list-deposit-transaction">
        <tr *ngFor="let depositTransaction of depositTransactions">
          <td>{{ depositTransaction.DepositDate + '+0800' | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
          <td>{{ depositTransaction.PaymentMethodName }}</td>
          <td>{{ depositTransaction.TransactionNo }}</td>
          <td>{{ depositTransaction.Status }}</td>
          <td>{{ depositTransaction.DepositAmount }}</td>
          <td>{{ depositTransaction.CreditAmount }}</td>
          <td>{{ depositTransaction.BonusAmount }}</td>
        </tr>
        </tbody>
      </table>
      <hr/>
    </div>
  </div>
</div>

