<div id="{{modalId}}" class="c-modal">
  <div class="c-modal__wrapper">
    <button type="button" class="c-modal__close" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
      <div class="loader align-center" *ngIf="!profile">
          <div class="spinner"></div>
          <div>{{ 'Loading...' }}</div>
      </div>

      <form *ngIf="profile" name="emailVerification" #emailVerification="ngForm" class="c-form">
        <div class="c-modal__body">
            <div class="c-modal__title align-center">
                <h3>{{ 'EMAIL.Header' | translate }}</h3>
                <p>{{ 'EMAIL.Info' | translate }}</p>
            </div>

            <div *ngIf="success && !valid" class="c-alert c-alert--inline hidden" style="display: block">
                <div *ngFor="let error of dataError.Errors">
                    <i class="icon icon-info-circled"></i> {{ error.Description }}
                </div>
            </div>

            <div *ngIf="submitted && valid && verifyEmailto" class="c-alert c-alert--inline">
                <i class="icon icon-info-circled"></i>{{ 'EMAIL.Notification' | translate }}
            </div>

            <div class="c-form__group">
                <label class="c-form__label invisible">{{ 'PROFILE.EmailAddress' | translate }}</label>
                <input type="email" class="c-form__input" id="emailAddress" required [(ngModel)]="profile.Email" name="Email" placeholder="{{ 'EMAIL.EmailAddress' | translate }}"
                #Email="ngModel">
            </div>

            <div class="c-form__group">
                <label class="c-form__label invisible">{{ 'EMAIL.Code' | translate }}</label>
                <input type="text" class="c-form__input" id="code" [(ngModel)]="profile.EmailResetCode" name="EmailResetCode" placeholder="{{ 'EMAIL.Code' | translate }}"
                #EmailResetCode="ngModel" minlength="6" maxlength="6" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
            </div>

            <div role="separator" class="c-form__group c-form__divider">
                <span><i class="icon icon-angle-up"></i></span>
            </div>
            <div *ngIf="!hasSend" class="c-form__group">
                <button type="submit" (click)="verifyEmail(profile)" class="o-button o-button--action o-button--med">
                    <span *ngIf="!submitting">{{ 'EMAIL.GetCode' | translate }}</span>
                    <span *ngIf="submitting" class="spinner-bar"></span>
                </button>
            </div>
            <div *ngIf="hasSend" class="c-form__group">
                <button type="submit" (click)="verifyEmail(profile)" class="o-button o-button--action o-button--med">
                    <span *ngIf="!submitting">{{ 'EMAIL.ResendCode' | translate }}</span>
                    <span *ngIf="submitting" class="spinner-bar"></span>
                </button>
            </div>
        </div>
        <div class="c-modal__footer">
            <button id="goBack" type="submit" (click)="resetEmail(profile)" class="c-form__submit o-button" [class.o-button--action]="hasSend">
                <span *ngIf="!submittingResend">{{ 'EMAIL.Submit' | translate }}</span>
                <span *ngIf="submittingResend" class="spinner-bar"></span>
            </button>
        </div>
    </form>

  </div>
</div>
