<!--<footer class="l-footer">-->
  <div class="l-footer__top">
    <ul class="c-footer-links list--unstyled">
      <li>
        <a href="http://orange88.com/{{lang}}/about-us" target="_blank" title="{{ 'FOOTER.AboutOrange88' | translate }}">{{ 'FOOTER.AboutOrange88' | translate }}</a>
      </li>
      <li>
        <a href="http://orange88.com/{{lang}}/privacy-policy" target="_blank" title="{{ 'FOOTER.Privacy' | translate }}">{{ 'FOOTER.Privacy' | translate }}</a>
      </li>
      <li>
        <a href="http://orange88.com/{{lang}}/terms-and-conditions" target="_blank" title="{{ 'FOOTER.Terms' | translate }}">{{ 'FOOTER.Terms' | translate }}</a>
      </li>
      <li>
        <a href="http://orange88.com/index.php/{{lang}}/faq" target="_blank" title="{{ 'FOOTER.Help' | translate }}">{{ 'FOOTER.Help' | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="l-footer__bottom">
    <div>{{ 'FOOTER.Copyright' | translate }}</div>
  </div>
<!--</footer>-->