<div id="TransactionsPage" class="grid c-article">
  <div class="row">
    <div class="col col--xs-12">
      <div class="c-article__header">
        <h2 class="c-article__title">{{'TRANSACTION.TransactionHistory' | translate }}</h2>
        <p class="c-article__desc">{{'TRANSACTION.Print' | translate }}</p>
        <p class="c-article__desc">{{'TRANSACTION.RecentTransaction' | translate }}</p>
      </div>
      <form class="c-form" autocomplete="off" novalidate name="transactionForm" #transactionForm="ngForm">

          <div class="c-form__group">
          <select class="c-form__input c-form__select" id="transactionType"
                  #transactionType="ngModel" name="transactionType"
                  [(ngModel)]="transactHistory.TransactionHistoryType" required>

            <option [ngValue]="0">
            {{'TRANSACTION.AllType' | translate }}
          </option>
            <option [ngValue]="1">
              {{'TRANSACTION.Deposit' | translate }}
            </option>
            <option [ngValue]="2">
              {{'TRANSACTION.Withdrawal' | translate }}
            </option>
            <option [ngValue]="3">
              {{'TRANSACTION.CreditMemo' | translate }}
            </option>
            <option [ngValue]="4">
              {{'TRANSACTION.DebitMemo' | translate }}
            </option>
          </select>
          </div>

          <div class="c-form__group">
            <select class="c-form__input c-form__select" id="transactionStatus"
                    #transactionStatus="ngModel" name="transactionType"
                    [(ngModel)]="transactHistory.Status" required>
              <option [ngValue]="100">
                {{'TRANSACTION.AllStatus' | translate }}
              </option>
              <option [ngValue]="0">
                {{'TRANSACTION.Requested' | translate }}
              </option>
              <option [ngValue]="5">
                {{'TRANSACTION.Processing' | translate }}
              </option>
              <option [ngValue]="2">
                {{'TRANSACTION.Approved' | translate }}
              </option>
              <option [ngValue]="7">
                {{'TRANSACTION.Rejected' | translate }}
              </option>
              <option [ngValue]="9">
            {{'TRANSACTION.WaitingForDocs' | translate }}
          </option>
          </select>
        </div>

          <div class="c-form__group">
            <label class="c-form__label visible" for="dateFrom">{{'TRANSACTION.DateFrom' | translate }}</label>
            <my-date-picker name="dateFrom" [options]="myDatePickerOptions" [(ngModel)]="transactHistory.StartDate"
                            required class="c-form__input"
                            placeholder="{{'TRANSACTION.DateFrom' | translate }}" #dateFrom="ngModel"
                            (dateChanged)="onStartDateChanged($event)" [selDate]="dateGet">
            </my-date-picker>
            <div [hidden]="dateFrom.valid" *ngIf="submitted" class="alert alert-danger">
              {{ 'PROFILE.ErrorDateFrom' | translate }}
            </div>
          </div>

          <div class="c-form__group">
            <label class="c-form__label visible" for="dateTo">{{'TRANSACTION.DateTo' | translate }}</label>
            <my-date-picker name="dateTo" [options]="myDatePickerOptions" [(ngModel)]="transactHistory.EndDate"
                            required class="c-form__input"
                            placeholder="{{'TRANSACTION.DateTo' | translate }}" #dateTo="ngModel"
                            (dateChanged)="onEndDateChanged($event)" [selDate]="dateGet">
            </my-date-picker>
            <div [hidden]="dateTo.valid" *ngIf="submitted" class="alert alert-danger">
              {{ 'PROFILE.ErrorDateTo' | translate }}
            </div>
          </div>

          <div class="c-form__group">
            <button type="submit" class="c-form__submit o-button o-button--action"
                    (click)="getTransaction(transactHistory)"
                    [disabled]="transactionForm.invalid">
              <span *ngIf="!submitting">{{ 'TRANSACTION.Go' | translate }}</span>
              <span *ngIf="submitting" class="spinner-bar"></span>
            </button>
          </div>
      </form>
      <table class="c-table" *ngIf="success">
        <thead>
          <tr>
            <th>{{'TRANSACTION.Date' | translate }}</th>
            <th>{{'TRANSACTION.Type' | translate }}</th>
            <th>{{'TRANSACTION.TransactionId' | translate }}</th>
            <th>{{'TRANSACTION.Debit' | translate }}</th>
            <th>{{'TRANSACTION.Credit' | translate }}</th>
            <th>{{'TRANSACTION.Status' | translate }}</th>
        </tr>
        </thead>
        <tbody id="list-transaction-history">
          <tr *ngFor="let transaction of success.Data">
            <td>{{ transaction.TransactionDate + '+0800' | date: 'MM/dd/yyyy hh:mm:ss a' }}</td>
            <td>{{ transaction.Method }}</td>
            <td>{{ transaction.TrasnactionId }}</td>
            <td>{{ transaction.DebitAmount }}</td>
            <td>{{ transaction.CreditAmount }}</td>
            <td>{{ transaction.StatusName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

