<div class="loader align-center" *ngIf="!games"> 
  <div class="spinner"></div>
  <div>{{ 'Loading...' }}</div>
</div>

<div class="c-panel" *ngIf="games">
    <div class="c-panel__header">            
        <div class="c-panel__title">
            <span>{{ 'FILTERATION.Games' | translate }}</span>
        </div>            
        <div class="c-panel__utils">
            <ul class="o-sorter">
                <li><a (click)="getActivePlatform('')">{{ 'FILTERATION.All' | translate }}</a></li>
                <li><a (click)="getActivePlatform('GD')">{{ 'FILTERATION.GD' | translate }}</a></li>
                <li><a (click)="getActivePlatform('TGP')">{{ 'FILTERATION.TGP' | translate }}</a></li>
                <!--<li><a (click)="getActivePlatform('HG')">{{ 'FILTERATION.HG' | translate }}</a></li>-->
                <li><a (click)="getActivePlatform('PT')">{{ 'FILTERATION.PT' | translate }}</a></li>
                <li><a (click)="getActivePlatform('AG')">{{ 'FILTERATION.AG' | translate }}</a></li>
                <li><a (click)="getActivePlatform('Betsoft')">{{ 'FILTERATION.BETSOFT' | translate }}</a></li>
                <li><a (click)="getActivePlatform('MG')">{{ 'FILTERATION.MG' | translate }}</a></li>
                <li><a (click)="getActivePlatform('TTG')">{{ 'FILTERATION.TTG' | translate }}</a></li>
            </ul>
            <div class="o-search">
                <div class="o-search__wrapper">
                    <i class="icon icon-search float-right"></i>
                    <input type="text" [(ngModel)]="filter.title" placeholder="{{ 'FILTERATION.Search' | translate }}">
                </div>
            </div>
        </div>
    </div>
    <div class="c-panel__body">
        <div id="scrollable" class="c-panel__body__wrapper" autoheight>    
            <div class="c-panel__list c-list row">
                <div *ngFor="let game of games | gameFilter: filter" class="col col--md-3 col--lg-2">
                    <div class="c-block c-block--game">
                        <!--<div class="c-block__text">
                            <p>{{ game.id }}</p>
                            <p>{{ game.game_platform }} {{ game.title}}</p>
                        </div>-->
                        <div class="c-block__image">
                            <img src="{{ game.thumb_image.src }}" alt="">
                            <a (click)="loadiframe(game.game_platform_code, game.game_code)" class="o-button o-button--action o-button--med">
                                {{ 'FILTERATION.PlayNow' | translate }}
                            </a>
                        </div>                        
                        <p class="c-block__title">{{ game.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>