<div class="c-language align-center">
    <div class="c-language__selected">
      <div (click)="toggleLangOptns()">
        <img src="assets/images/lang/lang-{{translate.currentLang}}.png" alt="" />
        <span>{{ translate.currentLang }}</span>
      </div>
    </div>
    <ul class="c-language__options" [ngClass]="!showLangOptns ? 'is-close' : 'is-open'">
        <li *ngFor="let lang of translate.getLangs()">
          <div (click)="translate.use(lang)">
            <img src="assets/images/lang/lang-{{ lang }}.png" alt="{{ lang }}" />
            <span>{{ lang }}</span>
          </div>
        </li>
    </ul>
</div>