<div class="loader align-center" *ngIf="!casinos">
  <div class="spinner"></div>
  <div>{{ 'Loading...' }}</div>
</div>

<div class="c-panel" *ngIf="casinos">
  <div class="c-panel__header">            
        <div class="c-panel__title">
            <span>{{ 'CASINO.Casino' | translate }}</span>
        </div> 
    </div>
  <div class="c-panel__body" autoheight>
    <div id="scrollable" class="c-panel__body__wrapper" autoheight>         
      <ul class="c-panel__list c-list row">
        <li *ngFor="let casino of casinos" class="col col--xs-4">
          <div class="c-block c-block--casino" [ngStyle]="{'background-image': 'url(' + casino.thumb_image.src + ')'}">
            <div class="c-block__logo">
              <img src="{{ casino.logo.src }}" alt="{{ casino.logo.alt }}">
            </div>
            <div class="c-block__text">
              <p>{{ casino.title }}</p>
            </div>
            <a (click)="loadiframe(casino.game_platform_code, casino.game_code)" class="o-button o-button--action">{{ 'BANNER.PlayNow' | translate }}</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
