<div class="g-grid g-rowrepeat-3s">

    <div id="homeFeaturedBanners" class="grid ">
        <div class="row">
            <div class="col col--xs-6">
                <div class="c-panel c-panel--carousel c-panel--block">
                    <!--<div class="c-carousel c-carousel--single">
                        <div class="c-block c-block--banner">
                            <div class="c-block__content">
                                <h1>{{ 'LANDINGPAGE.SportsBook' | translate }}</h1>
                                <h3>{{ 'LANDINGPAGE.StayInTheGame' | translate }}</h3>
                                <a href="#" class="o-button">{{ 'LANDINGPAGE.BetNow' | translate }}</a>
                            </div>
                        </div>
                    </div>-->
                    <app-banner></app-banner>
                </div>
            </div>
            <div class="col col--xs-6">
                <div class="c-block c-block--banner" style="background-image: url('assets/images/main-deposit-banner.jpg')">
                    <div class="c-block__content">
                        <h1>{{ 'LANDINGPAGE.Header1' | translate }}</h1>
                        <a [routerLink]="['/online-deposit']" class="o-button o-button--action o-button--med">{{ 'LANDINGPAGE.DepositNow' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col--xs-6">
                <div class="c-block c-block--banner" style="background-image: url('assets/images/main-sports-book-banner.jpg')">
                    <div class="c-block__content">
                        <h1>{{ 'LANDINGPAGE.SportsBook' | translate }}</h1>
                        <h3>{{ 'LANDINGPAGE.StayInTheGame' | translate }}</h3>
                        <a [routerLink]="['/sports']" class="o-button o-button--action o-button--med">{{ 'LANDINGPAGE.BetNow' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col col--xs-6">
                <div class="c-panel c-panel--mini c-panel--carousel" style="background-image: url('assets/images/main-livecasino-bg.png')">
                    <div class="c-panel__header">
                        <div class="c-panel__title">
                            <span>{{ 'LANDINGPAGE.LiveCasino' | translate }}</span>
                        </div>
                        <div class="c-panel__utils">
                            <div class="return-link">
                                <a [routerLink]="['/casino']" [ngStyle]="{'color': '#f5f5f5'}">{{ 'LANDINGPAGE.More' | translate }}</a>
                                <i class="icon  icon-right-open"></i>
                            </div>
                        </div>
                    </div>
                    <div class="c-panel__body grid">
                        <div class="row">
                            <div *ngFor="let casino of casinos | slice:0:3" class="col col--xs-4">
                                <div class="c-block c-block--game c-block--casino c-block--mini" [ngStyle]="{'background-image': 'url(' + casino.thumb_image.src + ')'}">
                                    <div class="c-block__logo">
                                        <img src="{{ casino.logo.src }}" alt="{{ casino.logo.alt }}">
                                    </div>
                                    <a (click)="loadiframe(casino.game_platform_code, casino.game_code)" class="o-button o-button--action o-button--tiny">{{ 'LANDINGPAGE.PlayNow' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="homeFeaturedGames" class="grid">
        <div class="row">
            <div class="col col--xs-12">
                <div class="c-panel c-panel--mini c-panel--carousel">
                    <div class="c-panel__header">            
                        <div class="c-panel__title">
                            <span>{{ 'LANDINGPAGE.FeaturedSlotGames' | translate }}</span>
                        </div>            
                        <div class="c-panel__utils">
                            <div class="return-link">
                                <a href="javascript:void();" [routerLink]="['/games/slots']">{{ 'LANDINGPAGE.MoreGames' | translate }}</a>
                                <i class="icon  icon-right-open"></i>
                            </div>
                        </div>
                    </div>
                    <div class="c-panel__body">
                        <app-featured-games></app-featured-games>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 
