<div id="{{modalId}}" class="c-modal">
    <div class="c-modal__wrapper">

        <button type="button" class="c-modal__close" aria-label="Close" (click)="onCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <form autocomplete="off" novalidate name="resetPassword" #ForgotPasswordForm="ngForm" class="c-form">
            <div class="c-modal__body">
                <div class="c-modal__title align-center">
                    <h3>{{ 'FORGOTPASSWORD.Header' | translate }}</h3>
                    <p>{{ 'FORGOTPASSWORD.Info' | translate }}</p>
                </div>
                <div *ngIf="success && !valid" class="c-alert c-alert--inline hidden" style="display: block">
                    <div *ngFor="let error of dataError.Errors">
                        <i class="icon icon-info-circled"></i> {{ error.Description }}
                    </div>
                    <!--{{ dataError.Errors | json }}-->
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible" for="username">
                        <span>{{ 'FORGOTPASSWORD.Username' | translate }}</span>
                    </label>
                    <input type="text" class="c-form__input" id="username"
                           required
                        [(ngModel)]="forgotPassword.UserName" #username="ngModel" 
                        name="username" placeholder="{{ 'FORGOTPASSWORD.Username' | translate }}">
                    <div [hidden]="username.valid" *ngIf="submitted" class="alert alert-danger">
                        {{ 'FORGOTPASSWORD.ErrorUsername' | translate }}
                    </div>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label invisible" for="emailAddress">
                        <span>{{ 'FORGOTPASSWORD.Email' | translate }}</span>
                    </label>
                    <input type="email" class="c-form__input" id="emailAddress"
                           required
                        [(ngModel)]="forgotPassword.Email" #emailAddress="ngModel" 
                        name="emailAddress" placeholder="{{ 'FORGOTPASSWORD.Email' | translate }}" >
                    <div [hidden]="emailAddress.valid"  *ngIf="emailAddress.errors?.email || submitted"
                         class="alert alert-danger">
                        {{ 'FORGOTPASSWORD.ErrorEmail' | translate }}
                    </div>
                </div>
                <div role="separator" class="c-form__group c-form__divider">
                    <span>{{ 'FORGOTPASSWORD.Or' | translate }}</span>
                </div>
                <div class="c-form__group">
                    <label class="c-form__label invisible" for="mobileCode">
                        <span>{{ 'Mobile Number' | translate }}</span>
                    </label>
                    <div class="c-form__input-group">
                        <div class="c-form__input-group-add">
                            <div class="c-form__select__wrapper">
                                <select class="c-form__input c-form__select" id="mobileCode"
                                    [(ngModel)]="forgotPassword.MobileCountryCode" name="mobileCode" #mobileCode="ngModel">
                                    <option disabled value="0">{{ 'FORGOTPASSWORD.CountryCode' | translate }}</option>
                                    <option *ngFor="let country of countries" [ngValue]="country.CountryCallCode">
                                            {{ country.CountryCallCode }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <input type="text" class="c-form__input" id="mobileNumber"
                            [(ngModel)]="forgotPassword.MobileNo" #mobileNumber="ngModel" 
                            name="mobileNumber" placeholder="{{ 'FORGOTPASSWORD.MobileNumber' | translate }}"
                            minlength="10" maxlength="10"
                            onkeyup="this.value=this.value.replace(/[^\d]/,'')"/>
                    </div>
                    <!--<div [hidden]="mobileNumber.valid"  *ngIf="submitted" class="alert alert-danger">-->
                        <!--<span *ngIf="!submitting">{{ 'FORGOTPASSWORD.ErrorMobile' | translate }}</span>-->
                        <!--<span *ngIf="submitting" class="spinner-bar"></span>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="c-modal__footer">
                <button (click)="onSubmit(forgotPassword)" type="submit" class="c-form__submit o-button o-button--action">
                    <span *ngIf="!submitting">{{ 'FORGOTPASSWORD.Submit' | translate }}</span>
                    <span *ngIf="submitting" class="spinner-bar"></span>

                </button>
            </div>
        </form>

    </div>
</div>